*{
  background: lightblue;
  box-sizing: border-box;
}
body{
  font-family: Helvetica,sans-serif;
  font-size: 18;
}

button{
  background-color: red;
  position: relative;
  color:#ccc;
  height: 20px;
  width: 200px;
}

#reset{
  left: 180px;
}

#newboard{
  left: 310px;
}

button:hover{
  cursor: pointer;
}


div{
  display: block;
}

.wrapper{
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

.p{
  display: block;
  position: relative;
  right: 100px;
}

.center{
  margin: auto;
  width: 20%;
  padding: 10px;
}


#grid{
  position: relative;
  left: 150px;
  bottom: -5px;
  top : 40%;
  width: 600px;
  height: 600px;
  display: grid;
  align-items: center;
  background-color: white;
  border: 1px solid rgb(32,32,32);
}


.item{
  border: 1px solid rgb(150,150,150);
  height: 100%;
  width: 100%;
  background: white;
}
